.bio-box {
    max-width: 600px;
    width: auto;
    display: block;
    margin: 10px auto;
}

.bio {
    color: var(--text-secondary);
    font-size: 1.05rem;
    margin: 0 10px;
    padding-bottom: 16px;
    line-height: 1.7;
    font-family: var(--font);
    text-align: justify;
    text-decoration: none;
}
