.bio-box {
    max-width: 600px;
    width: auto;
    display: block;
    margin: 10px auto;
}

.bio {
    color: var(--text-secondary);
    font-size: 1.05rem;
    margin: 0 10px 20px;
    line-height: 1.6;
    font-family: var(--font);
    text-align: left;
    text-decoration: none;
}
