.profilePicture, .profilePicture img {
    position: relative;
    width: 196px;
    height: 196px;
    display: block;
    margin: 35px auto 20px;
    border-radius: 50%;
    -webkit-tap-highlight-color: transparent;
}
