.bio-box {
    max-width: 600px;
    width: auto;
    display: block;
    margin: 0 auto;
}

.bio {
    color: var(--text-secondary);
    font-size: 0.95rem;
    margin: 0;
    line-height: 1.6;
    font-family: var(--font);
    text-align: justify;
    text-decoration: none;
}
